@font-face
    font-family: "Opensans"
    src : url("../../build/fonts/Opensans/OpenSans-Light.ttf")
    font-weight: 300
@font-face
    font-family: "Opensans"
    src : url("../../build/fonts/Opensans/OpenSans-Regular.ttf")
    font-weight: 400
@font-face
    font-family: "Opensans"
    src : url("../../build/fonts/Opensans/OpenSans-SemiBold.ttf")
    font-weight: 500
@font-face
    font-family: "Opensans"
    src : url("../../build/fonts/Opensans/OpenSans-Bold.ttf")
    font-weight: 600
@font-face
    font-family: "Opensans"
    src : url("../../build/fonts/Opensans/OpenSans-ExtraBold.ttf")
    font-weight: 700