@import "mixins"
@import "fonts"
@import "keyframes"

body
	min-width: 320px
	background-color: #071127
	font-family: Opensans
.button
	text-decoration: none
	text-transform: uppercase
	font-size: 14px
	font-weight: 500
	cursor: pointer
	background: none
	border: 2px solid #00b3d6
	padding: 5px 20px
	color: #b4f5fd
	transition-duration: .3s
	&:hover
		text-decoration: none
		background-color: #00b3d6
		color: white
.input
	padding: 5px 15px 6px 15px
	background: transparent
	border: 2px solid #00b3d6
	color: #b4f5fd
	font-size: 14px
	&::placeholder
		color: #37536c

.timer
	padding: 60px 120px
	&__title
		color:#b4f5fd
		font-size: 32px
	&-items
		padding-left: 0
		margin-bottom: 0
		margin-top: 40px
		list-style-type: none
		max-width: 600px
		display: flex
		flex-direction: column
	&-item
		padding: 15px 30px
		background-image: -webkit-gradient(linear,left top,right top,from(#091838),to(#101e39))
		background-color: #101e39
		transition-duration: .3s
		display: flex
		align-items: center
		justify-content: space-between
		position: relative
		margin-bottom: 20px
		animation: create .5s ease-in-out forwards
		overflow: hidden
		&_delete
			animation: delete .5s ease-in-out forwards
		&_open
			overflow: visible
		&:hover
			box-shadow: 0 0 25px 0 #00b3d642
			.timer-item__options
				top: -25px
				right: -35px
			.timer-item__options_open
				top: 0
				right: 0
		&__title
			background: none
			border: none
			padding: 0
			color: #b4f5fd
			font-size: 20px
			&::selection
				background-color: #00b3d6
				color: white
			&_change
				border-bottom: 2px solid #00b3d6
				color: white
		&__name
			margin-bottom: 0
			position: relative
		&__rename
			cursor: pointer
			display: none
			border: none
			background: none
			background-image: url(../img/success.svg)
			width: 18px
			height: 18px
			position: absolute
			right: 0
			top: 0
			bottom: 0
			margin: auto 0
			&_visible
				display: block
		&__button
			border: none
			color: #37536c
			&:hover
				color: white
				background-color: #00b3d6
		&__counter
			color: #b4f5fd
			font-size: 20px
			text-align: center
			margin-bottom: 5px
		&__right
			display: flex
			justify-content: center
			flex-direction: column
		&__options
			position: absolute
			top: -45px
			right: -55px
			overflow: hidden
			transform: rotate(45deg)
			transition-duration: .3s
			&_open
				top: 0
				right: 0
				transform: none
				height: 100%
				width: 100px
				background-color: #00b3d6
				animation: open .5s ease-in-out forwards
				display: flex
				align-items: center
				.timer-item__open
					position: absolute
					top: -25px
					right: -35px
					transform: rotate(45deg)
					background-image: url(../img/close.svg)
					background-size: 15px
				.timer-item__list
					display: flex
			&_close
				height: 100%
				width: 100px
				animation: close .5s ease-in-out forwards
				background-color: #00b3d6
				.timer-item__open
					position: absolute
					top: -25px
					right: -35px
					transform: rotate(45deg)
					background-image: url(../img/close.svg)
					background-size: 15px
		&__open
			background: none
			border: none
			padding: 0
			background-color: #00b3d6
			width: 70px
			height: 50px
			cursor: pointer
			background-image: url('../img/ellipses.svg')
			background-size: 20px
			background-repeat: no-repeat
			background-position: center top 30px
			svg
				width: 18px
		&__list
			padding-left: 0
			list-style-type: none
			display: none
			margin-bottom: 0
			width: 100%
			justify-content: center
		&__option
			cursor: pointer
			font-size: 14px
			width: 20px
			height: 20px
			background-position: center
			background-repeat: no-repeat
			margin-right: 10px
			&:last-child
				margin-right: 0
			&_rename
				background-image: url(../img/rename.svg)
			&_delete
				background-image: url(../img/delete.svg)
	&-create
		transition-duration: .3s
		&__input
			margin-right: 10px
		&__button
			padding: 5px 20px 6px 20px