@font-face {
  font-family: "Opensans";
  src: url("../../build/fonts/Opensans/OpenSans-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: "Opensans";
  src: url("../../build/fonts/Opensans/OpenSans-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Opensans";
  src: url("../../build/fonts/Opensans/OpenSans-SemiBold.ttf");
  font-weight: 500; }

@font-face {
  font-family: "Opensans";
  src: url("../../build/fonts/Opensans/OpenSans-Bold.ttf");
  font-weight: 600; }

@font-face {
  font-family: "Opensans";
  src: url("../../build/fonts/Opensans/OpenSans-ExtraBold.ttf");
  font-weight: 700; }

@keyframes create {
  0% {
    transform: translateX(-200px);
    opacity: 0; }
  100% {
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes delete {
  0% {
    transform: none;
    opacity: 1; }
  100% {
    transform: translateX(200px);
    opacity: 0; } }

@keyframes open {
  0% {
    top: -45px;
    right: -55px;
    opacity: 0; }
  50% {
    top: 0;
    right: 0;
    opacity: .5; }
  100% {
    right: -100px;
    top: 0;
    opacity: 1; } }

@keyframes close {
  0% {
    right: -100px;
    top: 0;
    transform: none; }
  50% {
    top: 0;
    right: 0;
    opacity: 0.5; }
  100% {
    top: -45px;
    right: -55px;
    transform: rotate(45deg);
    opacity: 0; } }

body {
  min-width: 320px;
  background-color: #071127;
  font-family: Opensans; }

.button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background: none;
  border: 2px solid #00b3d6;
  padding: 5px 20px;
  color: #b4f5fd;
  transition-duration: .3s; }
  .button:hover {
    text-decoration: none;
    background-color: #00b3d6;
    color: white; }

.input {
  padding: 5px 15px 6px 15px;
  background: transparent;
  border: 2px solid #00b3d6;
  color: #b4f5fd;
  font-size: 14px; }
  .input::placeholder {
    color: #37536c; }

.timer {
  padding: 60px 120px; }
  .timer__title {
    color: #b4f5fd;
    font-size: 32px; }
  .timer-items {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 40px;
    list-style-type: none;
    max-width: 600px;
    display: flex;
    flex-direction: column; }
  .timer-item {
    padding: 15px 30px;
    background-image: -webkit-gradient(linear, left top, right top, from(#091838), to(#101e39));
    background-color: #101e39;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    animation: create .5s ease-in-out forwards;
    overflow: hidden; }
    .timer-item_delete {
      animation: delete .5s ease-in-out forwards; }
    .timer-item_open {
      overflow: visible; }
    .timer-item:hover {
      box-shadow: 0 0 25px 0 #00b3d642; }
      .timer-item:hover .timer-item__options {
        top: -25px;
        right: -35px; }
      .timer-item:hover .timer-item__options_open {
        top: 0;
        right: 0; }
    .timer-item__title {
      background: none;
      border: none;
      padding: 0;
      color: #b4f5fd;
      font-size: 20px; }
      .timer-item__title::selection {
        background-color: #00b3d6;
        color: white; }
      .timer-item__title_change {
        border-bottom: 2px solid #00b3d6;
        color: white; }
    .timer-item__name {
      margin-bottom: 0;
      position: relative; }
    .timer-item__rename {
      cursor: pointer;
      display: none;
      border: none;
      background: none;
      background-image: url(../img/success.svg);
      width: 18px;
      height: 18px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto 0; }
      .timer-item__rename_visible {
        display: block; }
    .timer-item__button {
      border: none;
      color: #37536c; }
      .timer-item__button:hover {
        color: white;
        background-color: #00b3d6; }
    .timer-item__counter {
      color: #b4f5fd;
      font-size: 20px;
      text-align: center;
      margin-bottom: 5px; }
    .timer-item__right {
      display: flex;
      justify-content: center;
      flex-direction: column; }
    .timer-item__options {
      position: absolute;
      top: -45px;
      right: -55px;
      overflow: hidden;
      transform: rotate(45deg);
      transition-duration: .3s; }
      .timer-item__options_open {
        top: 0;
        right: 0;
        transform: none;
        height: 100%;
        width: 100px;
        background-color: #00b3d6;
        animation: open .5s ease-in-out forwards;
        display: flex;
        align-items: center; }
        .timer-item__options_open .timer-item__open {
          position: absolute;
          top: -25px;
          right: -35px;
          transform: rotate(45deg);
          background-image: url(../img/close.svg);
          background-size: 15px; }
        .timer-item__options_open .timer-item__list {
          display: flex; }
      .timer-item__options_close {
        height: 100%;
        width: 100px;
        animation: close .5s ease-in-out forwards;
        background-color: #00b3d6; }
        .timer-item__options_close .timer-item__open {
          position: absolute;
          top: -25px;
          right: -35px;
          transform: rotate(45deg);
          background-image: url(../img/close.svg);
          background-size: 15px; }
    .timer-item__open {
      background: none;
      border: none;
      padding: 0;
      background-color: #00b3d6;
      width: 70px;
      height: 50px;
      cursor: pointer;
      background-image: url("../img/ellipses.svg");
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: center top 30px; }
      .timer-item__open svg {
        width: 18px; }
    .timer-item__list {
      padding-left: 0;
      list-style-type: none;
      display: none;
      margin-bottom: 0;
      width: 100%;
      justify-content: center; }
    .timer-item__option {
      cursor: pointer;
      font-size: 14px;
      width: 20px;
      height: 20px;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 10px; }
      .timer-item__option:last-child {
        margin-right: 0; }
      .timer-item__option_rename {
        background-image: url(../img/rename.svg); }
      .timer-item__option_delete {
        background-image: url(../img/delete.svg); }
  .timer-create {
    transition-duration: .3s; }
    .timer-create__input {
      margin-right: 10px; }
    .timer-create__button {
      padding: 5px 20px 6px 20px; }
